@model OceanaAura.Web.Models.Auth.ResetPasswordVM
@{
    Layout = "../Shared/_AuthLayout.cshtml";
}

<section class="vh-100 d-flex align-items-center justify-content-center bg-gradient">
    <div class="container py-5">
        <div class="card shadow-lg rounded-4 border-0">
            <div class="row g-0">
                <div class="col-12 col-md-6 bg-primary text-white d-flex justify-content-center align-items-center rounded-start">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/File/Images/LoginLogo.png" class="img-fluid" alt="Logo" loading="lazy" />
                    </a>
                </div>
                <div class="col-12 col-md-6 p-4 p-md-5">
                    <h2 class="fw-bold text-center text-primary mb-4">Verify OTP to Reset Password</h2>
                    <p class="text-center text-muted mb-4">Enter the OTP to Reset Password.</p>

                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success text-center">
                            @TempData["Message"]
                        </div>
                    }

                    <form asp-action="ResetPassword" asp-controller="Auth" method="post" class="form-reset-password">
                        <div class="mb-4">
                            <label asp-for="OTP" class="form-label fw-bold">OTP</label>
                            <input asp-for="OTP" type="password" class="form-control form-control-lg" placeholder="Enter the OTP" />
                            <span asp-validation-for="OTP" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <ul class="list-unstyled text-danger">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </ul>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg py-3" type="submit">Verify and Reset Password</button>
                        </div>
                    </form>
                    <div class="text-center mt-4">
                        <a asp-action="Login" asp-controller="Auth" class="text-primary text-decoration-none">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section ScriptsAuth {
    <partial name="_ValidationScriptsPartial" />
    <script>
        @if (TempData["Message"] != null)
        {
            <text>
                    Swal.fire({
                        title: 'Success!',
                        text: '@TempData["Message"]',
                        icon: 'success',
                        confirmButtonText: 'OK'
                                });
            </text>
        }
    </script>
}
