@using OceanaAura.Web.Models.BuyVM
@model List<CartItem>

<div class="container mt-5">
    <h1>Your Cart</h1>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                Product ID: @item.ProductId | Size ID: @item.SizeId | Color ID: @item.ColorId | Quantity: @item.Quantity
            </li>
        }
    </ul>
</div>
